# ipps-javascript-samples configurations

# ldap_directory.js
# =================

# Application

APP_PORT=8080
# The hostname or IP where phones can reach this app
APP_ADDRESS=
# Options: http //TODO: add https
APP_PROTOCOL=http

# LDAP configuration
LDAP_ADDRESS=
LDAP_PORT=389
LDAP_SEARCH_BASE="ou=users,dc=example,dc=com"

# If credentials are required to bind/search, enter both below
LDAP_USER_DN="uid=directoryuser,ou=users,dc=example,dc=com"
LDAP_PASSWORD=ciscopsdt

# Presentation options

# Max 32
RESULTS_PER_PAGE=32
# Default LDAP filter applied ('and') to all searches
DEFAULT_FILTER="(objectClass=inetOrgPerson)"
# Allow searches where no criteria are provided, could have performance impact
ALLOW_EMPTY_SEARCH=True
# Show error details to the phone user (e.g. for debugging), otherise a generic error message is shown
SHOW_ERROR_DETAIL=True

# push_init.js
# ============

PUSH_PHONE_ADDRESS=
# CUCM user associated with the phone
PUSH_APP_USER_NAME=
PUSH_APP_USER_PASSWORD=