<CiscoIPPhoneInput>
    <Title>Company Directory</Title>
    <Prompt>Enter search criteria</Prompt>
    <URL><%= searchUrl %></URL>
    <InputItem>
        <DisplayName>First Name</DisplayName>
        <QueryStringParam>f</QueryStringParam>
        <InputFlags>A</InputFlags>
    </InputItem>
    <InputItem>
        <DisplayName>Last Name</DisplayName>
        <QueryStringParam>l</QueryStringParam>
        <InputFlags>A</InputFlags>
    </InputItem>
    <InputItem>
        <DisplayName>Phone Number</DisplayName>
        <QueryStringParam>n</QueryStringParam>
        <InputFlags>T</InputFlags>
    </InputItem>
</CiscoIPPhoneInput>